[2019-01-28 15:58] smattingly opened #1 "Student profile form"
Get the student profile form from nlc_attendance repo (special branch) and bring it into this repo.
Also put nlc_attendance repos pageTop and pageBottom templates into the sails layout file.

[2019-01-28 15:59] smattingly opened #2 "Separate sports seasons"
Initial code does not distinguish fall vs spring sports. Need to do that.

[2019-01-28 15:59] codybroyles commented on #2
🍅

[2019-01-29 17:23] ricardmc99 commented on #1
🍅

[2019-01-30 04:41] smattingly commented on #1
@ricardmc99 This is the stuff that I suggested for removal. It was intended to allow us to place an announcement at the top of every page in the app: "System going down for maintenance at 5 pm" for example. But we have never used it.

[2019-01-30 15:02] ricardmc99 commented on #1
🍅

[2019-01-30 15:06] Evsus opened #3 "projectDocs"
Creation of projectDocs folder with general guidelines for management.

[2019-01-30 15:06] Evsus commented on #3
🍅

[2019-01-30 15:34] codybroyles commented on #2
🍅

[2019-01-30 15:43] Evsus commented on #3
🍅 Issue put on hold waiting for final decision on moving to CONTRIBUTION.md instead of projectDocs

[2019-01-30 19:12] codybroyles commented on #2
🍅

[2019-01-30 19:51] codybroyles commented on #2
🍅  @smattingly  I made a commit a few minutes ago and mentioned you there as well (unsure if that also notifies you). I have a generalized start to the testing for seasons I would like you to review and please point me in the right direction for testing the functionality of the sorting to the HTML forum based on the season.

[2019-01-30 19:53] codybroyles opened #4 "model validations"
Implementing attribute vallidations in our current models.

[2019-01-30 21:32] codybroyles commented on #4
🍅    I have added some validation into the Sails models, but we will need to handle them in our furls models.

[2019-01-31 17:13] ricardmc99 commented on #1
🍅 I try to lift sails and I have this error message:
[code]
I tried to start it in safe mode and I have the same.

[2019-01-31 17:22] ricardmc99 commented on #1
My last commit on my wip-ricard branch I changed some things inside [studentModels.js](https://github.com/dewv/nlcAttendance/blob/wip-ricard/furl/studentModel.js) in furl. I don't know if they are correct or not.
1. Line 18 & 35 I have a warning of ClassRank not defined
2. Line 35 I'm not sure I'm calling right the findOne() function

Do you want me to do a pull request to master and you can see a

[2019-01-31 17:54] codybroyles commented on #2
🍅         I recreated the test to do as I understood what we discussed after class today.

[2019-01-31 18:17] smattingly commented on #1
The warning is because the eslint code checking tool cannot tell where the class is defined. Because sails does not use explicit `require`s for these things, that's the way it is. There is a comment at the bottom of the file that tells eslint to suppress that warning for similar symbols; you can add your class name to the list to eliminate the warning. Longer term, there is a way to put those symb

[2019-01-31 18:23] smattingly opened #5 "Names in lookup tables should be unique"
https://github.com/dewv/nlcAttendance/blob/b1750278b22050195e9cf3a84db93623d5c2a8cc/api/models/ClassRank.js#L3
Please add `unique: true` to the properties.

[2019-02-01 02:51] tydingsl opened #6 "Define Sails.js"
Declare useful information that is relevant to our usage of Sails.js. For instance: starting sails, closing sails, how the models plug into sails, etc. Write documentation for quick lookup specifically for our organization.

[2019-02-01 02:56] tydingsl opened #7 "Catalog Information from nlc2"
Look through the old nlc2 repository for useful information that can be translated into sails.js for the new repository nlcAttendance. Compile it into a single document for reference.

[2019-02-01 03:08] tydingsl opened #8 "Create Model Database"
Using the information from issue #7 and any further data deemed important, build the database for us to use with Sails.js for nlc Attendance.

[2019-02-01 15:42] ricardmc99 commented on #1
🍅

[2019-02-01 17:03] codybroyles commented on #2
🍅

[2019-02-02 00:52] ricardmc99 opened #10 "Mocha Testing"
What are the commands to test our code with mocha?

[2019-02-02 01:41] ricardmc99 commented on #1
🍅 I'm trying to add some JS to the [studentForm.htlm](https://github.com/dewv/nlcAttendance/blob/wip-ricard/views/pages/studentForm.html). I want that the user press yes to the button of "Do you play any Sport" and then the option to choose the fall or the spring appears. I know the JS that I wrote probably doesn't go there but where should I put a studentForm.js file and then export it to the HTM

[2019-02-02 01:58] ricardmc99 commented on #1
Just change it. I add a file under assets/js

[2019-02-02 05:09] ricardmc99 commented on #1
🍅

[2019-02-02 05:09] #10 closed

[2019-02-03 03:41] ricardmc99 commented on #1
🍅 Trying to add an icon to the layout html

[2019-02-05 18:32] ricardmc99 commented on #1
🍅 Add Jquery to the code. I can't make it work, but I don't get and error.

[2019-02-05 19:06] ricardmc99 opened #11 "How to solve error message"
@smattingly @codybroyles I have this error when I try to run Mocha.
I did:
`npm install`
`npm install -g npm-install-peers`
`npm run mocha`
And then I have this long error message:
[code]

[2019-02-05 19:12] ricardmc99 commented on #5
🍅 Just change it in in this documents:
https://github.com/dewv/nlcAttendance/blob/wip-ricard/api/models/ClassRank.js
https://github.com/dewv/nlcAttendance/blob/wip-ricard/api/models/Majors.js
https://github.com/dewv/nlcAttendance/blob/wip-ricard/api/models/ResidentialStatus.js
Does true goes with " " ?

[2019-02-05 20:49] smattingly commented on #2
@codybroyles Ok, after some research I think we need to go with the "two models" approach-- `Sport` will become `FallSport` and `SpringSport`. I was going to create an Issue but I think it really is this Issue as things have evolved. My guess is that you will keep working on this, but I'm putting @tydingsl in the loop because I need to get out of her way regarding task assignments.

[2019-02-05 20:54] smattingly commented on #11
Most likely it is due to c9's default node installation being a very old version. If that's it, the commands you need to run are *approximately* these. I should have kept a record.
[code]

Let me know how that works out.

[2019-02-05 21:06] smattingly commented on #1
@ricardmc99 Sorry I didn't catch this sooner. I hate to discourage creative experiments, but in a professional environment, we need to give priority to things that the yield (most) value for the organization. So we need a complete working form, and it's better not to spend time on the dynamic display behavior.

Also, design decisions like that need to be made as a group, especially when they requi

[2019-02-05 21:10] smattingly commented on #5
I don't understand the question. Also, I think that having models for residential status and class rank is probably overkill-- I think we would be okay hard-coding those into the form. Didn't we discuss that?
(We definitely *do* want a model for `Major`, but please tweak the name-- we want to consistently use singular, not plural, model names.)

[2019-02-05 21:22] smattingly commented on #6
@tydingsl I volunteer; feel free to assign this to me (and others, too, if appropriate). I have just merged all the new sails stuff onto the `master` branch, including new `README` files in each of the major folders (models, controllers, views, helpers); that is a start. I will get to some of the other things you mentioned as soon as I can.

[2019-02-05 22:59] codybroyles commented on #2
alright

[2019-02-06 00:37] ricardmc99 commented on #11
@smattingly I have the v11.7.0. I tired `nvm use v11` and `nvm alias default v11` just in case I wasn't using it but I still get the error.

[2019-02-06 02:36] smattingly commented on #11
@ricardmc99 Try this: `npm install -g mocha@latest`

[2019-02-06 06:33] codybroyles commented on #2
🍅

[2019-02-06 15:11] tydingsl commented on #11
Did this fix your problem?

[2019-02-06 15:12] tydingsl opened #13 "Production authentication"
Integrate with college's AD directory

[2019-02-06 15:25] tydingsl commented on #11
@ricardmc99  ^

[2019-02-06 15:26] ricardmc99 commented on #11
@tydingsl yes. the last command solves the problem

[2019-02-06 15:29] tydingsl commented on #8
@smattingly This issue is more so that we have the information to give to Sails so that it can build the database. This is just providing the info to generate the table

[2019-02-06 15:29] #11 closed

[2019-02-06 15:39] tydingsl opened #15 "Staff editform"
Create the editform for Staff. Use the student editform in the API as a guideline.

[2019-02-06 15:52] #2 closed

[2019-02-06 15:54] Evsus commented on #7
🍅 Short descriptions of what the original NLC had

| Student | Description |
| -------- | ----------- |
| id | Autogenerate |
| Username | string |
| Firstname | string |
| Lastname | string |
| AcademicRank | choice of 5 |
| MajorOne | Choice from majors |
| MajorTwo | Choice from majors |
| ResidentialStatus | Boolean (resident or commutor) |
| sports | FK, Choice from sports |

|  Staff | Descr

[2019-02-06 16:55] codybroyles commented on #4
🍅

[2019-02-07 00:08] codybroyles commented on #4
🍅

[2019-02-07 00:08] codybroyles commented on #4
🍅

[2019-02-07 19:26] #1 closed

[2019-02-07 19:26] #5 closed

[2019-02-08 02:11] tydingsl opened #17 "Staff Profile Form"
Get the staff profile form from nlc_attendance repo (special branch) and bring it into this repo.

[2019-02-08 03:26] tydingsl opened #18 "Student Create Form"
Student Create form in the views needs to be made.

[2019-02-08 03:26] tydingsl opened #19 "Staff Create Form"
Staff create form in views need to be made.

[2019-02-08 03:28] tydingsl opened #20 "Student Update Form"
Student update form in views needs to be made

[2019-02-08 03:29] tydingsl opened #21 "Staff Update Form"
Staff update form in views needs to be made

[2019-02-08 03:53] smattingly commented on #21
@tydingsl This appears to be the same thing as #17.

[2019-02-08 03:56] smattingly commented on #18
@tydingsl There is no create form. When a student logs in successfully, we take their username and look for a Student record. If theirs does not exist, the app creates it for them automatically, and they can then edit it.

[2019-02-08 03:56] smattingly commented on #19
@tydingsl There is no create form. When a staff member logs in successfully, we take their username and look for a Staff record. If theirs does not exist, the app creates it for them automatically, and they can then edit it.

[2019-02-08 04:12] smattingly commented on #6
Just pushed update to `master` that creates `CONTRIBUTING.md` (see [this](https://help.github.com/articles/setting-guidelines-for-repository-contributors/)) and [other documentation](https://dewv.github.io/nlcAttendance/).

[2019-02-08 04:15] smattingly commented on #3
CONTRIBUTING.md is now in place. It covers all contents of former projectDocs folder, except for Risk Assessment. I will talk with @tydingsl about Risk Assessment.

[2019-02-08 15:05] #19 closed

[2019-02-08 15:05] #18 closed

[2019-02-08 15:13] #21 closed

[2019-02-08 15:35] Evsus commented on #7
@smattingly Would it be proper to move these tables into CONTRIBUTING.md?

[2019-02-08 15:40] tydingsl opened #22 "Check-in createform for Visit"
The Visit component must support creating new records (known as a "check in"). So, the visit folder will contain createForm.html, named in anticipation that the RestController can be used.

[2019-02-08 15:41] tydingsl opened #23 "Check-out editform for Visit"
The Visit component must support editing existing records (known as a "check out"). So, the visit folder will contain editForm.html, named in anticipation that the RestController can be used.

[2019-02-08 15:42] smattingly commented on #8
Here is a quick messy dump of the information that I think you are looking for. When I can, I will put this in CONTRIBUTING.md in more sails language.

Staff: need username, firstName, lastName, and these can be just like in existing Student model. Also need `isSlpInstructor` which is a boolean defaulting to `false`.

Visit: here is partial dump of current table definition. Names should become cam

[2019-02-08 15:50] ricardmc99 commented on #22
🍅

[2019-02-08 18:39] codybroyles commented on #4
🍅  @tydingsl I talked to Prof Mattingly about this. Going to hold off until a need is more pressing here.

[2019-02-08 20:00] ricardmc99 opened #24 "Check-in check-out"
How do we keep track of how long the user has been in the system? How does the timer work? @tydingsl

[2019-02-08 21:25] smattingly opened #25 "Server error on request for student edit form"
on the master branch.

I will fix right away, but am documenting in case others encounter it.

[2019-02-08 21:29] #25 closed

[2019-02-08 21:32] smattingly commented on #24
In the current production system, the Visit record stores a check in timestamp, and a check out time stamp. The query that displays Visit data to staff computes the difference, to the nearest quarter hour (that's a user requirement).

There are additional details, and sails will impact things a bit. I'm going to document that in CONTRIBUTING.md when I can.

[2019-02-08 21:59] smattingly opened #26 "Fix HTML in student edit form"
Missing space where highlighted. Note that browser view source puts `</label>` in red because there was no valid `<label>` it matched. Will get to automated HTML checking in future.
![image](https://user-images.githubusercontent.com/21227171/52508365-72bab800-2bc2-11e9-8bc2-f1ab96a67e51.png)

[2019-02-10 01:18] ricardmc99 commented on #22
🍅 I closed because I missed something

[2019-02-10 01:18] ricardmc99 commented on #23
🍅

[2019-02-11 13:55] #24 closed

[2019-02-11 13:57] ricardmc99 commented on #23
🍅 @tydingsl Can I do the logoutTimer.js and HTML so I can have this two editForms done?

[2019-02-11 15:34] Emreyildirim1284 commented on #15
Done

[2019-02-11 15:42] brosekerg commented on #20
can i do this one?

[2019-02-11 15:44] codybroyles commented on #26
🍅

[2019-02-11 15:44] #26 closed

[2019-02-11 16:27] smattingly commented on #20
@brosekerg I see that you self-assigned this. Only managers may assign tasks-- in this case @tydingsl. Even if the manager has communicated the Issue is yours, the manager makes the assignment in GitHub. Also, the discussion like "Can I have this one?" should happen in the team discussion thread for that purpose, not on the Issue itself. Please respond with an "OK" (or questions) so I know you've

[2019-02-12 14:30] Emreyildirim1284 commented on #15
🍅

[2019-02-13 01:55] tydingsl opened #31 "OPERATIONS: State of the App"
The Application is growing rapidly and a quick update on how it looks from an operations perspective would yield valuable insight from a source other than the developers.

[2019-02-13 02:06] tydingsl opened #32 "logoutTimer.js"
In reference #15 and #23 ...really this will be used for the entire system since it runs in kiosk mode.
https://github.com/dewv/nlcAttendance/blob/master/CONTRIBUTING.md#student-check-in-check-out

[2019-02-13 02:36] tydingsl opened #33 "Visit Model"
using CONTRIBUTING.md, create the model file for Visits (the login and logout model)

[2019-02-13 02:39] tydingsl opened #34 "Staff Model"
Refer to CONTRIBUTING.md for more info.

[2019-02-13 02:40] Evsus commented on #7
@tydingsl I believe this is ready to close without any pulls.

[2019-02-13 02:42] #7 closed

[2019-02-13 03:55] ricardmc99 commented on #32
🍅

[2019-02-13 05:01] codybroyles commented on #33
🍅

[2019-02-13 05:03] codybroyles commented on #33
@ricardmc99 I created the Visit model and put a pull request into your branch. Please Inform me if any changes need to be made.

[2019-02-13 15:23] Emreyildirim1284 commented on #34
I talked to @smattingly and he told me to implement the staff test as well. FYI,  addition to this task, I will be writing the test code as well!

[2019-02-13 15:41] Evsus commented on #3
@tydingsl this issue is ready for closing if you're ready to be done with it.

[2019-02-13 21:57] codybroyles commented on #33
🍅

[2019-02-14 19:12] ricardmc99 commented on #32
In the old nlc_attendance, I don't understand the function logout(). Part is because I can't find the document "logout"
https://github.com/dewv/nlc_attendance/blob/5ddd3401a1a5284d9823ed1a188935d36198f0fa/public/javascripts/logoutTimer.js#L12

[2019-02-15 15:08] brosekerg commented on #20
OK

[2019-02-15 15:22] smattingly commented on #20
@tydingsl @brosekerg This form is in place, and I'm not aware of anything that needs to be done with it. Lauren, if you agree please close it; otherwise please clarify what needs doen.

[2019-02-15 15:22] #3 closed

[2019-02-15 15:25] smattingly commented on #8
@tydingsl I believe that there are now Issues for each individual model, some completed, others assigned. Can this be closed?

[2019-02-15 15:33] #20 closed

[2019-02-15 15:34] tydingsl opened #38 "Simple Login Form"
Just username, password, and a submit button

[2019-02-15 15:41] tydingsl commented on #22
@ricardmc99 can this issue be closed?

[2019-02-15 15:42] #6 closed

[2019-02-15 15:43] #8 closed

[2019-02-15 15:43] #15 closed

[2019-02-15 15:48] brosekerg commented on #38
🍅

[2019-02-16 23:41] codybroyles commented on #33
🍅 🍅

[2019-02-16 23:43] codybroyles commented on #33
Model is near completion, having issues with the checkIn and checkOut times

[2019-02-18 02:22] tydingsl opened #40 "Error page"
Create an EJS webpage that displays whatever string is delivered to it.

[2019-02-18 02:37] #38 closed

[2019-02-18 02:50] tydingsl opened #41 "Staff Visit View"
The view for staff to see what the visit model has collected

[2019-02-18 03:02] tydingsl opened #42 "View for staff to export visit model to a spreadsheet"
#41 is the precursor to this.  The information from this visit should be translated to a spreadsheet via a new page.

[2019-02-18 03:04] tydingsl opened #43 "Staff Register this Browser"
A very simple form for registering a browser for nlc

[2019-02-18 03:21] tydingsl opened #44 "Landing Page for Staff"
Should include links to all staff forms: edit form, visit list, visit spreadsheet, and register browser

[2019-02-18 15:50] Evsus commented on #41
🍅 updated nvm and npm and began setup

[2019-02-18 16:02] codybroyles commented on #33
🍅

[2019-02-18 16:27] codybroyles commented on #33
@ricardmc99 see branch Issue33_22_23 for our merged work.

[2019-02-18 16:27] codybroyles commented on #33
🍅

[2019-02-19 21:59] Evsus commented on #41
🍅 x3 learned how sails routes traffic, planned the code structure, next will implement the code and push new page within the next 2 tomatoes

[2019-02-20 02:01] codybroyles commented on #33
🍅

[2019-02-20 02:50] codybroyles commented on #33
🍅

[2019-02-20 03:10] codybroyles commented on #33
🍅

[2019-02-20 03:56] codybroyles commented on #33
🍅

[2019-02-20 04:55] codybroyles commented on #33
🍅

[2019-02-20 04:57] codybroyles commented on #33
Currently working on testing the functionality of the model and its lifecycle call back function `beforeUpdate()`.

[2019-02-20 15:02] ricardmc99 commented on #23
🍅 working on test

[2019-02-20 15:14] #34 closed

[2019-02-20 15:20] brosekerg commented on #43
May i be assigned to this issue?

[2019-02-20 16:31] smattingly opened #49 "Add `afterPopulateOne` call"
The `populateOne` helper should check to see if the model passed to it defines a ~~`postPopulate`~~ `afterPopulateOne` function, and if so, call it.

@codybroyles Note name change, to follow Sails lifecycle hooks after/before and use full name of `populateOne`

[2019-02-20 17:03] codybroyles commented on #33
🍅

[2019-02-20 17:24] codybroyles commented on #33
@smattingly I am getting the following error when attempting to run the test code.

[code]
Any ideas as to why we would be having issues calling the global Date class?

[2019-02-20 17:32] codybroyles commented on #33
🍅

[2019-02-20 18:22] ricardmc99 commented on #23
🍅

[2019-02-21 02:10] smattingly commented on #49
@codybroyles I have pushed this on branch `issue49`. Suggest you merge that branch into yours. I don't want to PR into master, because the change creates a code statement that is not tested by my code, dropping us below the code coverage threshold. Rather than concoct a test, your model that defines the function should cause the test coverage to take care of itself. (I did test this change with te

[2019-02-21 02:27] smattingly commented on #33
Would be helpful if I knew what branch/where to see the actual code. I suspect you have something like `new Date.now()` and `new Date.getMinutes()` when you need `new Date().now()` or maybe even `(new Date()).now()`. In other words, you want to call the `Date` constructor and then call `now` on the new object; instead you are calling the nonexistent constructor for class `Date.now`.

[2019-02-21 03:44] codybroyles commented on #33
Ok, the branch is Issue#33-VisitModel just for reference. My code was as you described, I attempted your solutions but both failed. I was able to solve the issue by using the [documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date) for Date.
Thanks.

[2019-02-21 03:44] codybroyles commented on #33
🍅

[2019-02-21 04:12] codybroyles commented on #33
🍅

[2019-02-21 16:32] smattingly commented on #33
Looking at the model attributes, I think we are on slightly different pages. Also I think that there is a slightly simpler way than what I had in mind.
1. `visitLength` and `estimatedDuration` appear to be redundant. Suggest eliminating the second one.
2. There has always been a field that indicated if the visit length was estimated or not. Suggest a boolean named `isLengthEstimated` that defaults

[2019-02-21 17:47] codybroyles commented on #33
🍅    Made the suggested changes.

[2019-02-22 04:04] ricardmc99 commented on #22
@tydingsl yes

[2019-02-22 04:04] #22 closed

[2019-02-22 04:06] ricardmc99 commented on #17
@tydingsl I think Emre was working on this on another issue

[2019-02-22 04:06] ricardmc99 commented on #23
🍅

[2019-02-22 04:38] ricardmc99 commented on #40
🍅

[2019-02-22 15:11] tydingsl commented on #43
#48 pull request merged

[2019-02-22 15:33] #17 closed

[2019-02-22 15:36] ricardmc99 commented on #23
🍅

[2019-02-22 15:38] tydingsl commented on #32
@ricardmc99 After talking to Owen, I believe this code is outdated. His original goal for this was to set a logout warning for the user if the page had been left inactive for too long after a person logged in. However, now that the page exits out to the main login after logging in or logging out, there is no reason to have a countdown to a logout for the user.

[2019-02-22 15:41] tydingsl commented on #32
@ricardmc99 based off this link, the html makes it clear what it was for
https://github.com/dewv/nlc_attendance/blob/5ddd3401a1a5284d9823ed1a188935d36198f0fa/views/logoutTimer.html

[2019-02-22 16:20] codybroyles commented on #33
smattingly: testing visitLength, create a few records and modify the checkin time via update.

[2019-02-24 21:15] ricardmc99 commented on #23
🍅

[2019-02-24 21:49] ricardmc99 opened #51 "Syntax Error"
@smattingly @codybroyles @tydingsl
When I run `npm run test` I have a sintax error on this Test of the student model. I have been looking at it but I couldn't find a solution.
https://github.com/dewv/nlcAttendance/blob/8443181b68be2ab0a5654d1d85ee55cca42fc9b2/test/models/Student.js#L92

[2019-02-24 23:02] smattingly commented on #51
What is the error message?
BTW, please save the "bug" label for problems that are discovered on the master branch, or at least that have left one person's branch and been shared with others. Arguably it would be better to post questions like these just as comments with an @mention seeking help.

[2019-02-24 23:12] Emreyildirim1284 commented on #44
I am sorry, I didn't quite get the assignment. Can you please be little bit more specific?

[2019-02-24 23:26] Emreyildirim1284 commented on #44
Am I creating the HTML page when staff logs in? Like the first screen that they see? And I am assuming they have access to see those 4 things you listed so I am creating a page that has links to each file?

[2019-02-24 23:33] Emreyildirim1284 commented on #44
🍅

[2019-02-25 02:51] ricardmc99 commented on #51
[code]

[2019-02-25 15:01] tydingsl commented on #44
@Emreyildirim1284 yes, this is the first page when a staff member logs in. They should have access to these 4 forms

[2019-02-25 15:09] codybroyles commented on #33
🍅

[2019-02-25 15:15] tydingsl commented on #44
@Emreyildirim1284 You should have access to the register browser and the edit form. The other 2 forms are being worked on currently

[2019-02-25 15:29] ricardmc99 commented on #23
🍅 trying to solve this error:
[code]

[2019-02-25 15:50] codybroyles commented on #33
🍅

[2019-02-25 15:50] Emreyildirim1284 commented on #44
Okay, my code is ready. I will finish it and push it as soon as other 2 forms are done.

[2019-02-25 15:50] Emreyildirim1284 commented on #44
🍅

[2019-02-25 16:38] codybroyles commented on #33
🍅

[2019-02-26 02:17] ricardmc99 commented on #23
🍅

[2019-02-26 02:17] #51 closed

[2019-02-26 15:30] codybroyles commented on #33
🍅  I believe this is close to wrapping up, I will continue working with @ricardmc99 to have it hooked in to the views.

[2019-02-26 15:48] codybroyles commented on #33
🍅

[2019-02-26 17:13] codybroyles commented on #33
🍅

[2019-02-27 15:43] Evsus commented on #41
🍅 Learned that the good way of going about this is to go ahead and update the routes file and the RESTcontroller so that the controller handles the database loading and configuring and the html page just sends and receives requests.  This feels like a more verbose way of handling the mmvece way of communicating and developing for the table easier.  Will this be okay? @tydingsl

[2019-02-28 17:43] codybroyles commented on #33
🍅

@smattingly I worked today to get my test coverage to above 95% and my work is now 100% covered, I dug down to see what is not being covered specifically and it is specifically 3 helpers keeping my branch from passing the 95%; get-domains.js, populate-one.js, and response-view-safely.js. It seems there are a few 'branches' and statements that arent covered. Are there test not pushed into master

[2019-02-28 21:23] smattingly commented on #33
@codybroyles There may be some candidates for ignoring for coverage here. But first, let's make sure everything else is in order. I meant for the helper integration tests to be called from each model's test file. (see Student model for example.) The helpers that are tested there take a model as an input argument-- in an OO design the would be model methods. I think that testing them with your mode

[2019-03-01 00:43] codybroyles commented on #33
Ok

[2019-03-01 14:53] ricardmc99 commented on #23
🍅

[2019-03-01 15:09] tydingsl commented on #41
👍

[2019-03-01 15:38] codybroyles commented on #33
🍅

[2019-03-01 15:45] tydingsl commented on #44
merged pull request

[2019-03-01 15:45] #44 closed

[2019-03-01 16:04] codybroyles commented on #33
🍅

[2019-03-02 02:20] ricardmc99 commented on #23
🍅

[2019-03-11 14:02] ricardmc99 commented on #23
🍅

[2019-03-11 14:52] Evsus commented on #41
🍅 worked more on the text input, I'd like for it to parse the text a bit for correctness before it gets passed to sails, and hopefully with the way sails works, it'll fill in some gaps that usually need added in by hand when querying databases on a front end

[2019-03-13 03:32] ricardmc99 commented on #23
🍅

[2019-03-13 03:48] Evsus commented on #41
🍅

[2019-03-13 13:57] ricardmc99 commented on #23
🍅  trying to solve this error:
[code]

[2019-03-13 14:50] Evsus commented on #41
🍅  Decided best to have a default pop up from the controller be the full view of visit and they can further filter the results by the post action.  So the first instance of the webpage pulls up a basic table return, and subsequent posts will pull the same webpage with a different query.  The query format is commented into the visit view.

[2019-03-13 14:51] Evsus commented on #41
🍅 Will need to see what the controller does when it gets the table.  Might need to research more on table displays in javascript/html

[2019-03-14 23:19] ricardmc99 commented on #23
🍅

[2019-03-15 14:45] ricardmc99 commented on #23
🍅 not sure how to test text areas

[2019-03-17 20:05] ricardmc99 commented on #23
🍅

[2019-03-18 03:22] Evsus commented on #41
🍅

[2019-03-20 14:08] ricardmc99 commented on #23
🍅

[2019-03-22 01:29] Evsus commented on #41
🍅 cleaning up some formatting

[2019-03-22 02:11] Evsus commented on #41
🍅 fixed route format.  Handle page design

[2019-03-22 02:59] Evsus commented on #41
🍅 getting queries to work

[2019-03-22 03:42] Evsus commented on #41
🍅 appending to restControl

[2019-03-22 04:06] Evsus commented on #41
🍅 small updates to restController still need to figure out how to pass table (will probably have to procedurally generate a table) to html page.  if query method from sails doesn't return anything friendly.

[2019-03-22 15:18] codybroyles commented on #33
🍅

[2019-03-22 15:24] codybroyles commented on #33
@smattingly We discussed in class a issue in the generic test code in the helpers causing a test to fail. I believe this is do to the epoch number in milliseconds being compared, you mentioned floating point comparisons. Below is the code in question.

[code]
[code]

[2019-03-22 17:11] smattingly commented on #33
I just pushed a change to resolve the problem with `Date` comparisons.
FYI, that uncovered another test failure: your `convertToHours` helper appears to be returning values as type `string`. Take a look at one of the other helpers-- there is a special syntax for returning helper values that you are not using, and that may be the cause.

[2019-03-25 03:52] ricardmc99 commented on #23
🍅 @smattingly I have 3 test that I don't know how to make them to pass. Can we look at it next meeting?

[2019-03-25 13:57] codybroyles commented on #33
🍅

[2019-03-25 14:47] Evsus commented on #41
🍅

[2019-03-25 15:51] smattingly commented on #23
Sure.

[2019-03-25 16:29] codybroyles commented on #33
🍅

[2019-03-25 16:57] codybroyles commented on #33
🍅  I have all my test passing.

[2019-03-26 20:36] smattingly commented on #49
@codybroyles I think this could be closed? If you agree, please close it.

[2019-03-27 03:36] codybroyles commented on #33
:tomato:

[2019-03-27 04:24] codybroyles commented on #33
🍅

[2019-03-27 04:58] codybroyles commented on #33
🍅

[2019-03-27 05:09] codybroyles commented on #49
I agree it can be closed as I have had the changes merged for a while now. Closes #49

[2019-03-27 05:09] #49 closed

[2019-03-27 06:14] codybroyles commented on #33
🍅

[2019-03-27 13:34] codybroyles commented on #33
@smattingly I was able to add the query code into [isAuthorized.js](https://github.com/dewv/nlcAttendance/blob/Issue33_22_23/api/policies/isAuthorized.js) in the combined visit repo [Issue33_22_23](https://github.com/dewv/nlcAttendance/blob/Issue33_22_23). I got the query to work and the sorting to work, but i cant seem to get that data stored outside the query. the visit variable has the most rec

[2019-03-28 16:31] codybroyles commented on #33
🍅

[2019-03-28 16:53] codybroyles commented on #33
🍅

[2019-03-31 17:10] codybroyles commented on #33
🍅  @smattingly I was able to use null by changing the column type to datetime and data type to string. Everything seems to be working the same except that spam errors about records having the wrong "data type" happen when launching sails/test not sure what to address as my model test are still passing.

[2019-04-03 14:20] tydingsl commented on #31
@alkhuwaylidr Any progress?

[2019-04-03 14:22] codybroyles commented on #33
🍅

[2019-04-03 14:28] tydingsl commented on #41
@Evsus Can I get a progress update?

[2019-04-03 14:30] Evsus commented on #41
Sure, Have the controller working and visit playing nice, fleshing it out now to display everything and request data.

[2019-04-03 14:30] tydingsl commented on #33
@codybroyles Can I get a progress update?

[2019-04-03 14:33] tydingsl commented on #32
@ricardmc99 Can this issue be closed?

[2019-04-03 14:36] tydingsl commented on #40
@ricardmc99  Was this issue completed and is it mixed in with the stuff you are working on right now?

[2019-04-03 14:38] tydingsl commented on #4
This issue became obsolete because it related only to sails.js, so I'm closing it.

[2019-04-03 14:38] #4 closed

[2019-04-03 14:39] tydingsl commented on #42
@Evsus When do you think you will begin work on this?

[2019-04-03 14:49] Evsus commented on #42
when the previous one is clean and working, I'm just assigned to it since they are part of a series.

[2019-04-03 15:19] codybroyles commented on #33
@tydingsl I am working on what format time values are and how we store time values in the database. Prof Mattingly has provided me with the login code and policies implemented so I am working on connecting into them as well.

[2019-04-03 19:27] smattingly commented on #33
@codybroyles I used a new, bare sails app to experiment and I am getting (close enough to) the behavior I would like with the settings shown. As long as that approach is compatible with what you are/need to do elsewhere, I think that should clear things up.
![image](https://user-images.githubusercontent.com/21227171/55506932-9af3ef80-5624-11e9-8f95-41c688be357b.png)
The two data properties are com

[2019-04-04 00:15] codybroyles commented on #33
@smattingly With the settings above, we still see the console messages although functionally it seems to work.

[2019-04-05 14:15] ricardmc99 commented on #23
🍅

[2019-04-05 17:06] codybroyles commented on #33
🍅 🍅

[2019-04-08 14:04] ricardmc99 commented on #23
🍅 formSelectOption testing

[2019-04-08 14:11] tydingsl commented on #32
Issue became irrelevant

[2019-04-08 14:11] #32 closed

[2019-04-08 14:50] tydingsl commented on #43
This issue was thought to have been completed, but the StaffRegisterBrowser.js should be an html file and, when the file name was changed, it no longer passes the test. Please make the required changes so that this file is an html and passes the tests for a pull request. #52

[2019-04-08 21:05] codybroyles commented on #33
🍅

[2019-04-10 13:59] ricardmc99 commented on #23
🍅

[2019-04-10 14:23] brosekerg commented on #43
🍅

[2019-04-10 14:45] Evsus commented on #41
🍅  Does query and populates tables with information.  currently no information to populate with.  Considering this one done.  Should probably have an issue prepared for when this view and the visit model is available for integration.

[2019-04-10 15:03] codybroyles commented on #33
:tomato:

[2019-04-10 15:03] codybroyles commented on #33
🍅

[2019-04-11 21:22] smattingly commented on #33
@codybroyles I tried moving policy logic into a controller, so that responses to requests were "flexible" without resorting to HTTP redirects. Got it working, but it ends up "faking" requests in a way that will make it difficult to know we have everything right. Much safer to stick with redirects, so it may as well stay in the policy.
But, I did find the "routing" problem. I had added the conditio

[2019-04-12 01:54] codybroyles commented on #33
@smattingly The idea of calculating the visit length when the form is being loaded was to use that check to determine if the student needs to estimate their visit length. I assume I could change the logic some and still do this calculation but, it seems that would only be a copy of the same code happening in your suggested addition.

[2019-04-12 03:00] codybroyles commented on #33
🍅    I am will have the suggested changes for tomorrows meeting. We can look over them then.

[2019-04-12 03:32] codybroyles commented on #33
🍅 New additions added and the records are now being fully updated.

[2019-04-12 14:11] tydingsl commented on #41
Pull request #56 was merged and the issue was completed

[2019-04-12 14:11] #41 closed

[2019-04-12 14:12] ricardmc99 commented on #23
🍅 coverage still not 95%, doing more testing to put it above 95

[2019-04-12 14:36] tydingsl commented on #43
Merged pull request

[2019-04-12 14:36] #43 closed

[2019-04-12 14:48] Evsus commented on #42
🍅

[2019-04-12 14:49] codybroyles commented on #33
🍅

[2019-04-12 14:50] codybroyles commented on #33
Now working on getting test coverage to passing levels.

[2019-04-12 16:22] codybroyles commented on #33
🍅

[2019-04-12 17:37] codybroyles commented on #33
🍅 🍅  @smattingly I have added test coverage for the new additions to the Visit model and will be doing documentation soon. I also cleaned up the test file for the Student model and added the profile update test to the staff file (which hasn't been converted to the bootstrap test data). Currently, there is a heavy lack of coverage for the policies and the staff model has a function not being tested

[2019-04-14 19:54] smattingly commented on #23
Let's look at this before you invest too much effort. The test coverage measures lines of JavaScript covered-- testing of the HTML/EJS stuff will have no impact.

[2019-04-15 14:47] Evsus commented on #42
🍅

[2019-04-15 14:49] codybroyles commented on #33
🍅 🍅

[2019-04-15 15:53] codybroyles commented on #33
:tomato:

[2019-04-15 23:38] smattingly commented on #33
My latest commit:
1. added testing of `RestController`. Controllers are not part of test coverage calculations because of a setting in the `.nycrc` config file. Even though I am not testing `RestController` and will add more controller tests, the tests don't touch most of the code, because most of the code is calls to model or view stuff that has already been tested. The controller test is just a

[2019-04-16 20:42] smattingly commented on #33
Pushed another commit that adds kiosk auto logout for students, and "banner" result messages. Right now the banner results are just plain text; I think we should format them something like [this](https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_alerts_success).

BTW, there is some very ugly code coupling in this commit. In particular, the `responseViewSafely` helper has become a kludgy

[2019-04-17 14:16] tydingsl commented on #13
@smattingly I'm assuming this issue can be closed?

[2019-04-17 14:16] Evsus commented on #42
Are we looking to export solely .xlsx since everyone should have Microsoft Excel?

[2019-04-17 14:18] tydingsl commented on #42
@Evsus No, use .csv

[2019-04-17 14:32] codybroyles commented on #33
🍅

[2019-04-17 14:37] tydingsl opened #57 "CSS for NLC"
Make the application look more professional using CSS

[2019-04-17 14:41] ricardmc99 commented on #57
🍅

[2019-04-17 14:46] Evsus commented on #42
🍅

[2019-04-17 14:54] codybroyles commented on #33
🍅

[2019-04-17 14:58] Evsus commented on #42
note: the regular view has{visit#, student name, check in, check out, visit length, purpose, purpose achieved, tutoring (courses), comments, checkout estimated (Y,N)}

dump: {regular view{}, and more™️}

[2019-04-17 23:34] smattingly commented on #13
Not really. The login code I put in is fake-- for development purposes. There is an obstacle here: the real login code talks to a college server to check credentials, and the college server will only talk with our production server. It's firewall blocks traffic from, say, random c9 workspaces. This may have to sit until I can test on the production server.

[2019-04-22 19:03] codybroyles commented on #33
:tomato: Started on completing the policies testing. Having an issue with the redirect test since the student always gets directed to its profile.

[2019-04-23 01:49] ricardmc99 commented on #57
🍅

[2019-04-23 16:43] ricardmc99 commented on #57
🍅

[2019-04-24 14:40] codybroyles commented on #33
🍅

[2019-04-25 21:47] codybroyles commented on #33
🍅   @smattingly I pushed up the changes to the test data along with the testing filled in. I managed to change back to ``` checkOutTime: { type: "ref", columnType: "datetime" }, ``` while still using null in the database. This removed most of the clutter in the console. I was able to fix a few holes we left open in the policies but there is one test I can't seem to handle if you wouldn't mind look

[2019-04-26 14:41] ricardmc99 commented on #57
🍅

[2019-04-26 15:13] codybroyles commented on #33
🍅

[2019-04-26 16:48] codybroyles commented on #33
🍅

[2019-04-26 17:06] codybroyles commented on #33
@smattingly  I pushed up the most recent changes which bring our test coverage close to 100% ... with the spreadsheet test uncommented test coverage is 100% for the policies. That leaves just the Helpers test at 90% covered specifically response-view-safely.js which is only at 67% coverage. I am not quite sure about the testing of these calls.

[2019-04-26 18:20] alroaithih commented on #31
🍅

[2019-04-28 02:45] ricardmc99 commented on #57
🍅

[2019-04-29 14:55] codybroyles commented on #33
🍅

[2019-04-29 21:06] smattingly commented on #33
@codybroyles As we discussed, please identify which tests are responsible for the coverage that does exist in that helper, and document findings here.
The helper was recently extended beyond a simple wrapper to the `ejs.renderFile` call that would respond with 404 when appropriate, using it as a central point to catch all view displays in order to display "result banner" messages. I suspect that w

[2019-04-30 00:22] Evsus commented on #42
🍅

[2019-04-30 00:37] tydingsl opened #58 "Fix visit view portion of rest controller"
Fix visit view portion of the rest controller

[2019-04-30 00:38] Evsus commented on #58
Found issue with REST Controller will correct once visit download is complete

[2019-04-30 01:01] Evsus commented on #42
🍅

[2019-04-30 01:32] Evsus commented on #42
🍅

[2019-04-30 01:56] Evsus commented on #42
🍅  Download button works, performing linting and tests now

[2019-04-30 02:06] codybroyles commented on #33
🍅  The tests passing through that helper are the tests for isAuthorized and isAppropriate policies.

[2019-04-30 02:17] Evsus commented on #42
htmlhint and mocha ran, but lint and coverage would not run in my environment.  Will Consult with @smattingly  tomorrow and sort that out. 🍅

[2019-04-30 03:14] Evsus commented on #58
🍅

[2019-04-30 04:12] Evsus commented on #58
🍅

[2019-04-30 15:03] alroaithih commented on #31
🍅 I have a technical issue in the server  when i try to check on nlcAttendance file

[2019-05-01 14:00] ricardmc99 commented on #57
🍅

[2019-05-01 14:09] alroaithih commented on #31
🍅 I found the file , it was under /var/www

[2019-05-01 14:28] Evsus commented on #58
🍅

[2019-05-01 14:47] Evsus commented on #58
🍅

[2019-05-01 19:00] Evsus commented on #58
🍅

[2019-05-01 19:31] Evsus commented on #58
🍅

[2019-05-01 20:12] Evsus commented on #58
restful api is being followed better, however there will need to be a new helper to facilitate the rest controller's ability to be more generic.  But that is a task for later.  Cleaning up code and submitting to master.

Further: "View" needs pagination. this is accomplished by:
 ```await model.find().paginate(pageNum, pageSize);```
so pagination will be a part of the query helper.

[2019-05-01 20:13] Evsus commented on #58
🍅

[2019-05-02 14:34] alroaithih commented on #58
can i get assign 🍅

[2019-05-03 14:06] #42 closed

[2019-05-03 14:33] ricardmc99 commented on #57
🍅 finish with the staff header

[2019-05-03 14:48] alroaithih opened #60 "NLC"

[2019-05-03 14:50] alroaithih commented on #60
🍅 I made sure the nlcAttendance file is active

[2019-05-03 14:51] alroaithih commented on #60
🍅 its run under npm install

[2019-05-03 14:52] alroaithih commented on #60
🍅 I have been getting errors when i try to install nvm

[2019-05-03 14:53] alroaithih commented on #60
🍅 nlcAttendance under cd/var/www

[2019-05-03 14:56] alroaithih commented on #60
![Capturedddd](https://user-images.githubusercontent.com/35502208/57145892-24b4eb00-6d92-11e9-878c-3c884d0d4be0.PNG)

[2019-09-06 21:34] codybroyles opened #63 "Fix Staff List"
I have run into a issue that I can not seem to fix. @smattingly If you could take a look at this on the fallStaff branch. The following error occurs when loading the list and refers to the populate call in the listRequest() function of the REST controller.

[code]

[2019-09-10 16:46] codybroyles commented on #63
@smattingly I have wrote a new helper called populateAssociations. It takes a model and array of records as arguments, and checks if the model provided has defined a afterPopulateAssociations() function (if yes then it passes off the array to the model function for the needed manipulation), then returns the array of records. This seems to be working well now.

[2019-09-18 15:34] smattingly commented on #63
This was due to `schema: false` in the Visit model set up. Removed that (default is true) because no current need for it could be identified.

[2019-09-18 15:34] #63 closed

[2019-09-18 16:06] smattingly commented on #60
?

[2019-09-18 16:06] #60 closed

[2019-09-18 16:11] smattingly commented on #58
OBE

[2019-09-18 16:11] #58 closed

[2019-09-18 16:12] smattingly commented on #40
OBE

[2019-09-18 16:12] #40 closed

[2019-09-18 16:15] smattingly commented on #33
OBE

[2019-09-18 16:15] #33 closed

[2019-09-18 16:16] smattingly commented on #31
OBE: deployment platform changes are under consideration

[2019-09-18 16:16] #31 closed

[2019-09-18 16:17] smattingly commented on #23
OBE

[2019-09-18 16:17] #23 closed

[2019-09-18 16:25] smattingly opened #64 "Check input requirements"
Various input/edit forms are incorrectly requiring the user to provide values for various attributes. We need a systematic check of all of them. Database models can generally be used to determine what is truly required, CONTRIBUTING.md might help, but ask if uncertain.

- [ ] check in form
- [ ] check out form
- [ ] check out form (estimation mode)
- [ ] staff profile
- [ ] student profile

[2019-09-18 16:32] smattingly opened #65 "Add page navigation links"
- [x] Add logout link (ideally an icon) to header for all pages except login (which probably suggests a new EJS include file).
- [x] Add link "edit user profile" link to check in and check out forms (icon here too?)

[2019-09-18 16:34] smattingly opened #66 "Display student's total time"
In informal conversation, student athlete(s) expressed interest in seeing their total visit time (for the week?).

Might be as simple as putting total in all student page headers, or as extensive as new list pages.

Hold for research and client vetting.

[2019-09-18 18:18] smattingly opened #67 "Replace staff menu page with drop-down"
Instead of a full page menu, maybe visit list is default staff page, and all staff pages have "hamburger" drop menu that works [like this](https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_dropdown_click).

[2019-09-29 21:16] codybroyles commented on #64
@smattingly Please review my previous two commits on the [fallStaff](https://github.com/dewv/nlcAttendance/tree/fallStaff) branch. I made some semi major tweaks to fix issues I encountered adding the changes in we discussed regarding html logic.

[2019-09-30 15:32] smattingly opened #68 "Resolve github security warnings for dependencies"
https://github.com/dewv/nlcAttendance/network/alerts

[2019-10-09 15:06] smattingly commented on #64
Discussed his review request in person with @codybroyles

[2019-10-09 15:25] bakejice opened #71 "Fix text box sizing on check-in page"
Text box on check in page reaches out of the container when the window is resized with W3.css changes.

[2019-10-09 15:36] smattingly opened #72 "Resolve difference in production database schemas"
Talk with clients:
[code]

[2019-10-09 15:49] codybroyles opened #73 "Add management functionality for select options."
Currently Fall Sports, Spring Sports, and Majors are added by code on the server which requires Dev-Ops to add any new sports or majors to the system. By adding simple forms, the customers can add their own entries without consulting Dev-Ops.

- [x] Create Fall Sports create form and add access to the staff menu.
- [x] Create Spring Sports create form and add access to the staff menu.
- [x] Create

[2019-10-16 15:02] codybroyles commented on #65
Added top bar for staff and students.

[2019-10-16 15:02] codybroyles commented on #67
Replaced Staff Menu with top-bar navigation.

[2019-10-16 15:21] codybroyles opened #76 "Audit Dependencies"
Currently there are a large number of dependencies in the 'package.json' that we do not know if we are using or not. These dependencies need to be assessed for their use and removed if they are unused.

[2019-10-16 15:42] smattingly opened #77 "Deal with sails in production mode"

[2019-10-17 14:15] #65 closed

[2019-10-17 14:15] #67 closed

[2019-10-22 02:32] smattingly opened #79 "Replace sails error pages"
404 and 500

[2019-10-23 15:43] #76 closed

[2019-10-23 15:45] codybroyles commented on #68
Still need to look into two issues.

[2019-10-25 15:32] codybroyles commented on #68
Dismissing the following issue.

high severity
Vulnerable versions: < 0.19.5
Patched version: 0.19.5
knex.js versions before 0.19.5 are vulnerable to SQL Injection attack. Identifiers are escaped incorrectly as part of the MSSQL dialect, allowing attackers to craft a malicious query to the host DB.

[2019-10-30 02:55] codybroyles commented on #68
Issues are handled. Closing.

[2019-10-30 02:55] #68 closed

[2019-11-13 16:22] #73 closed

[2019-11-18 16:14] smattingly opened #84 "Enforce browser registration"

[2019-11-20 16:48] #79 closed

[2019-12-01 20:18] smattingly commented on #13
Fixed [here](https://github.com/dewv/nlcAttendance/commit/f4bddc47f6e12909fa5fc80a01903a1c42db1c53). Code will always do "fake development" authentication unless `sails.config.custom.ldap` is defined-- presumably in `config/local.js`. That file is not stored in git/github because of sensitive contents. A copy of the file for using the college AD server is stored in the usual place for sensitive gr

[2019-12-01 20:18] #13 closed

[2019-12-01 20:21] smattingly commented on #84
Fixed [here](https://github.com/dewv/nlcAttendance/commit/f6246acef06f8fd9a685d7ec0ef1a555945bc3e7).

[2019-12-01 20:21] #84 closed

[2019-12-01 20:22] smattingly commented on #72
Closed, based on the plan to cut over from old system to new, without data transfer.

[2019-12-01 20:22] #72 closed

[2019-12-01 20:24] smattingly commented on #57
@bakejice Right now, the "show stopper" problem is that you cannot see all screen contents when, for example, there are too many sports or too many majors.
A less critical issue: layout of screens with banner messages could use some improvement.

[2020-01-10 22:27] #77 closed

[2020-01-12 17:02] smattingly commented on #57
Why didn't this auto close?

[2020-01-12 17:02] #57 closed

[2020-01-12 17:02] smattingly commented on #71
Why didn't this auto close?

[2020-01-12 17:02] #71 closed

[2020-03-16 14:19] smattingly opened #88 "Implement tests for authentication routes"

[2020-03-16 14:22] smattingly opened #89 "Implement tests for visit routes"
Staff scenarios: Matthew
Student scenarios: Megan
Unauthenticated scenarios: Jonathan

[2020-03-19 17:17] smattingly opened #90 "Fix security alerts for ESLint dependencies"
GitHub's dependabot recently created two security alerts in this repo, for two dependencies of the ESLint package that we use.

These alerts need to be resolved, probably by upgrading to newer versions of the dependencies.

This will require some knowledge about how a project's dependencies are listed in the `package.json` file, and how acceptable versions are indicated there. Research this as nee

[2020-04-05 17:52] Weintraubm commented on #90
@smattingly ran npm outdated and installed all major updates and attempted to push

[2020-04-08 17:47] smattingly commented on #90
@Weintraubm Ok, you successfully pushed to the master branch.
Ordinarily, there are automated checks that verify all tests are passing and >= 95% of code is covered by tests, otherwise pushes to master are rejected. The checks are currently disabled because late changes to 2.0.0 (introducing sails) broke the tests, and we wanted to release based on manual testing.

Ideally you would have run tests

[2020-09-23 16:40] #90 closed

[2020-10-09 15:08] smattingly opened #97 "Convert browser registration page"

[2020-10-09 15:10] smattingly opened #98 "Convert staff profile page"

[2020-10-12 15:17] Weintraubm opened #99 "Convert student profile page"

[2020-10-12 15:20] smattingly opened #100 "Convert login page"

[2020-10-12 15:21] smattingly opened #101 "Convert visit list page"

[2020-10-12 18:37] #100 closed

[2020-10-12 18:37] #97 closed

[2020-10-21 15:51] smattingly opened #102 "Convert check out page"

[2020-10-23 15:41] Weintraubm opened #103 "Convert check in page"

[2020-10-23 20:26] #101 closed

[2020-10-28 15:03] smattingly commented on #102
- [ ] comments: back to textarea; see Check In form for styling
- [ ] add form group around second select
- [ ] add "Choose one..." to second select

[2020-10-28 15:04] smattingly opened #104 "Convert majors page"

[2020-10-28 15:05] smattingly opened #105 "Convert sports page"

[2020-10-30 15:43] smattingly commented on #98
@Spritte77 Please put the `autofocus` attribute on the `<select>` element. We want every form to use `autofocus`.

[2020-10-30 15:49] smattingly commented on #99
@ScogginsJ The heading should be `h1`, above the form, without a surrounding div.
Also, please remove all the `container` class divs. Those make the layout inconsistent with the other forms.

[2020-10-30 15:52] smattingly commented on #103
@ScogginsJ There is a stray closing div tag at the bottom of this file. Please remove it and "outdent" the file contents.

[2020-11-02 15:16] Weintraubm commented on #102
checkout page successfully logs data to db

[2020-11-02 15:16] #102 closed

[2020-11-04 18:10] #98 closed

[2020-11-04 19:00] #103 closed

[2020-11-06 15:25] smattingly commented on #104
@ScogginsJ You removed the form tag.

[2020-11-09 17:45] #104 closed

[2020-11-09 17:49] smattingly commented on #99
@ScogginsJ Still need `h1` fix.

[2020-11-11 15:38] smattingly opened #106 "Sport list links to "add major""
https://github.com/dewv/nlcAttendance/blob/cf6ae80ec6082edea3d7aa358f37ae0d56eb4186/views/pages/sport/index.html#L2

The target URL is wrong.
Also, there should be a space between attributes (before `class`, `role`, etc.) HTMLhint complains about this line because of the EJS in it, but adding the spaces makes HTMLhint happy.

[2020-11-11 15:42] smattingly opened #107 "Stray tag"
https://github.com/dewv/nlcAttendance/blob/cf6ae80ec6082edea3d7aa358f37ae0d56eb4186/views/pages/sport/index.html#L36

There is an extra unmatched closing div tag at the end of the file. HTMLhint found and reported this. _Be sure to run `npm test` in the terminal before you push!_

[2020-11-11 18:28] #107 closed

[2020-11-11 18:29] smattingly commented on #106
@Spritte77 Please show a little more attention to detail. You should try out the changes that you make to be sure they are good; these are clearly not.

[2020-11-12 01:38] #99 closed

[2020-11-13 15:08] smattingly opened #108 "Generate Visit ID numbers in front end"
The current system uses MySQL autoincrement (sequential number) fields. These are not shown to the user except in the Visits index page. Note that the page lists the most recent record first, with the highest sequential number.

Experiments show that moving to MongoDB would be straightforward, except that Mongo generates unique `_id`s as cryptic object identifiers, not sequential numbers.

Reimple

[2020-11-13 16:01] smattingly opened #109 "Create route for "production health check""
We recently added a `/version.txt` route to the application, which causes the server to respond with plain ASCII text containing the application version number:
[code]

We want to modify and expand the route to better support an automated check of the application's health status. The goal is to report:
- the app version running,
- whether the app can connect to the LDAP (AD) server,
- what databas

[2020-11-14 02:36] #106 closed

[2020-11-14 02:36] #105 closed

[2020-12-21 22:17] #108 closed

[2020-12-30 01:53] #109 closed

[2021-01-13 18:56] smattingly opened #145 "GET /login should log you out"
![image](https://user-images.githubusercontent.com/21227171/104496420-fa778100-55a6-11eb-9413-2f60525da4e1.png)

The banner shown at the top indicates that the user is still logged in.

May need to add controller for that route; current routes.js format not subject to Sails policies?

[2021-01-13 18:56] smattingly commented on #89
OBE

[2021-01-13 18:56] #89 closed

[2021-01-13 18:57] smattingly commented on #88
OBE

[2021-01-13 18:57] #88 closed

[2021-02-01 16:54] brownk3 opened #149 "Issue Downloading Session Data"
Email from customer:

[2021-02-01 17:47] smattingly commented on #149
This is the feature that staff users have to download a CSV file of all the visit records. The feature has been tested a lot recently without any problems, but I have confirmed that it is now broken in production. Clicking the download button causes the browser status to say "waiting for dewv.net", but then nothing else happens.

This semester, we changed the database storage from MySQL running on

[2021-02-01 18:42] smattingly commented on #149
The MongoDB upgrade is not the cause. I just used GitPod to create a replica of the production setup using a different MongoDB database, same server version. The download worked. Next I will see if there is anything unusual in the recent data records.

[2021-02-01 23:39] smattingly commented on #149
I was able to extract the data download using a GitPod workspace and a non-production database where I restored last night's backup. The download problem is that it is simply taking too long for the download data to be prepared, and the Web server times out the request. I don't know why that code is running so very slowly, but we may need to add some database indexes or learn more about how to spe

[2021-02-05 16:08] #145 closed, assigned to nobody

[2021-02-07 21:22] smattingly commented on #149
Adding database indexes did not seem to help the problem. There seem to be three possible reasons (not mutually exclusive) for the slow performance.
1. the free tier MongoDB Atlas service does not give us very good server specs, esp. RAM. This is probably the biggest contributor. Fixing this would require $.
2. we are not used to thinking in terms of multiple network hops. That is, *now* the data

[2021-02-07 21:34] #149 closed, assigned to smattingly

[2021-02-08 14:59] smattingly opened #150 "Implement infinite scrolling for visit list"
(The original description is preserved at the bottom of this comment. Some of it was inaccurate or not relevant, so I'm taking another crack at it.)

We need to speed up the loading of the visit list page, which is the default page to show to staff users. It has become slow now that there are a few hundred visits stored in the free-tier cloud database.

- [x] Modify the current setup so that the p

[2021-02-08 15:15] smattingly opened #151 "Use AJAX for forms submission, especially editing sports and majors lists"
Currently, the sports and majors list pages contain multiple forms behind the scenes-- one for each individual record. Click a checkbox submits the form to update that record, and the same URL is reloaded, reflecting the update. While this happens quickly enough to look okay, the better way to do this is to submit the update using AJAX so that the server-side data is modified, but there is no relo

[2021-02-08 15:17] smattingly opened #152 "Fix accessibility problems identified by WAVE: https://wave.webaim.org/report#/dewv.net/nlc_attendance/login"
The URL in the title will show the tool's analysis of our production login screen. It identifies various issues to fix for accessibility.

The tool provides some guidance on what the errors and warnings mean, and sometimes how to fix them. As needed, do Web research to learn more. You're welcome to ask me, but I won't necessarily know.

I will use a checklist to break this into pieces, which might

[2021-02-08 15:17] smattingly opened #154 "Update NLC app dependencies"
`npm install` reports that 6 dependencies (listed in `package.json`) need updating due to security concerns, etc.
`npm audit` says that 3 can be automatically handled (run `npm audit fix`), but 3 will need manual review.

Most of this task boils down to:

- [x] In a Gitpod workspace, run `npm update --dev`
- [x] Then run `npm audit fix`
- [x] Thoroughly test the app to see nothing is broken, then

[2021-02-10 16:19] smattingly opened #153 "Explore MongoDB/Sails configuration issues"
When we launch the app in production set up, it says:
[code]
I understand what Sails wants us to do, but I'm confused why they want it. The whole point of Sails' database portions is avoiding code that is specific to one kind of database. Since they can obviously "take care of it", why not just do that? "This time" is misleading-- it always does this. So, I went ahead and switched to MongoDB with

[2021-02-10 16:20] smattingly commented on #153
Keeping @Weintraubm and @Spritte77 in the loop. I will supervise this one.

[2021-02-15 17:04] smattingly commented on #154
@methenyk Turns out that node does need to be upgraded as server work, not changing app code/config. Same is true of npm and sails, although I think we can change that where sails is concerned. I will update the description (first comment) to reflect this.

[2021-02-15 18:45] smattingly commented on #153
@BroadusA Next step is to make the changes sails seems to want. In `config/models.js`, change the property in the `attributes` object from `id: { type: "number", autoIncrement: true, },` to `id: { type: "string", columnName: "_id", },`

Next, in the `config/local.js` file you created, change the `createTestData` setting from false to true.

Finally, stop the application if it is running (Ctrl-C in

[2021-02-15 23:16] BroadusA commented on #153
@smattingly @Spritte77 @Weintraubm
02/15 4:15 pm. property attributes were changed and CreateTestData setting was changed.

[2021-02-16 21:01] smattingly commented on #153
Ok, I can see from the database results that the code changes made no difference in the resulting database structures. So we won't need to do a redesign/update of the existing database, as I thought we might. I will work with @BroadusA to improve the code changes and test so that the code works with either MySQL or MongoDB, warning free.

[2021-02-19 14:44] smattingly commented on #153
It appears that there is not a straightforward way to use different configurations depending on the database driver. The critical steps happen during initialization of the app, when info about the db driver is not yet available. I think we should pause work on this until we upgrade to the latest Sails version, then revisit it.

[2021-02-19 14:50] #66 closed

[2021-02-19 16:00] smattingly commented on #150
@BroadusA This is your new assignment, and Megan will be managing this effort. Try to start learning what is involved. I am thinking about the technical details and will share more guidance as I can.

[2021-02-22 15:55] smattingly commented on #152
@MethenyS Need a status update, please.

[2021-02-24 14:57] BroadusA commented on #150
2/24- The first checkbox was completed. I Will be working on completing the next two checkboxes. @Spritte77

[2021-02-24 15:03] Sprite411 commented on #150
@BroadusA Ok seems you have some good progress, let me know if you need any assistance or have any questions

[2021-02-26 14:48] BroadusA commented on #150
2/26- Still working through code for the onside scroll. @Spritte77.

[2021-02-26 15:16] Sprite411 commented on #150
Thank you for the update, keep me updated with any progress or questions you may have. @BroadusA

[2021-03-01 14:12] BroadusA commented on #150
03/01- Would like some assistance for which file the code should be put. @Spritte77

[2021-03-01 14:42] MethenyS commented on #152
Status update: Got the web extension to work, currently working on fixing the issues discussed.

[2021-03-01 14:42] methenyk commented on #154
I am currently still doing some research on the three problems that need manual updates. I intend to know more about them within the upcoming days.

[2021-03-01 16:02] Sprite411 commented on #150
If I understand correctly I would assume the code should go under index.html file under the visit folder. So the file path should be views > pages > visit > index.html. Though I would like confirmation before putting code into there @smattingly @BroadusA

[2021-03-04 21:33] smattingly commented on #150
@BroadusA Yes, @Spritte77 is correct about that file. Later, we might break the code out into a new file of its own, but the client side code described in the second and third checkboxes go in that `index.html` for now.

[2021-03-04 23:52] smattingly opened #155 "Convert usernames to all lower case at login"
See https://github.com/dewv/ops/issues/156

[2021-03-05 14:51] BroadusA commented on #150
3/5- after confirmation for the file. I have started writing the code.

[2021-03-08 14:27] BroadusA commented on #150
3/8- Before I make changes to the original code. Will I mess up any current records for the NLC?

[2021-03-08 15:01] smattingly commented on #150
I think you are referring to database records? I think you are running a GitPod workspace created directly from GitHub. Unless it has been manually reconfigured in specific ways (and I don't think you did that), it will use its own local copy of the database inside of GitPod.

[2021-03-08 15:22] methenyk commented on #154
I am still doing some research on 2 of the 3 manual updates. I should know more by the beginning of the next meeting.

[2021-03-08 15:31] Weintraubm commented on #151
@brownk3  You posted that you were awaiting work, I have added you to this issue, I will also do more research and help you figure out how to perform this task. Please read up on these two articles on ajax and Jquery. Also do your own research as you feel necessary into the concepts. Let me know when you have done this and are ready to move on.

https://www.sanwebe.com/2016/07/ajax-form-submit-exa

[2021-03-08 15:31] MethenyS commented on #152
Status update: Looking into fixing other issue tags showing up.

[2021-03-08 15:32] Weintraubm commented on #152
@MethenyS What are some tags you have fixed thus far?

[2021-03-08 15:34] Weintraubm commented on #154
@methenyk what dependencies need manually updates? What are their errors?

[2021-03-08 15:40] MethenyS commented on #152
Sorry, I just saw the notification. I had fixed the major page that Professor Mattingly was going over in class and was looking at ways to fix some of the other tags, but now it is showing that those tags weren't fixed, but the code that was placed in is still there. Would there be a reason that it is showing that?

[2021-03-08 15:44] methenyk commented on #154
We have to low level errors and a high level error. One is the version of braces that we are running. It is an older version and is causing a Regular Expression Denial of Service. We need to update to version 2.3.1 or higher and this should fix the issue, this was the first low leveled error. The second one has to do with the version of minimist we have. It is throwing a prototype pollution error

[2021-03-08 15:49] Weintraubm commented on #154
Very good just wanted a more detailed update for the github logging purposes carry on, let us know if you need help.

[2021-03-08 15:50] methenyk commented on #154
With the Denial of Service error, is in mongodb. With an update to version 3.1.13 or later could fix this.

[2021-03-08 15:53] smattingly commented on #155
Make a `toLower()` call in `api/helpers/login.js` (?)

[2021-03-08 18:25] smattingly commented on #154
I have no prior knowledge of "manually reviewing" audit findings. I found [this page/section](https://docs.npmjs.com/auditing-package-dependencies-for-security-vulnerabilities#security-vulnerabilities-found-requiring-manual-review) to be somewhat helpful, at least about concepts. Drawing on that, I think I understand that the situation is:

1. We have some indirect dependencies with issues that ha

[2021-03-08 18:29] smattingly commented on #152
@MethenyS Is there a convenient time for us to collaborate on this? If you could use Teams to share your running GitPod workspace, I could try to see what is going on.

[2021-03-10 15:04] MethenyS commented on #152
Status update: Had a minor set back, working on getting it fixed.

[2021-03-10 15:06] methenyk commented on #154
I have recently been looking at what professor Mattingly provided above. I have learned that some of the errors that we have are about updates to certain things. However, I feel that if we are not worried about them as much like professor Mattingly stated, should I be ready to push this to github? Or should I try to update these issues?

[2021-03-10 15:11] Weintraubm commented on #152
@MethenyS  please describe the setback and what's the action plan?

[2021-03-10 15:18] MethenyS commented on #152
When I went to save on Monday, I noticed some of my code had gone missing and the tags were basically set back to square one. Professor Mattingly helped me look into it yesterday and he couldn't find what the problem was or what had happened. My plan of action is to replace the code that was lost and continue forward with research and corrections.

[2021-03-10 17:40] smattingly commented on #154
@methenyk Let's move forward. Run the three qa scripts as we covered in today's meeting. Assuming there are no problems, you can commit your changes and try to sync to GitHub if you want. I haven't yet been able to resolve the permissions problem that stopped our colleague's sync, so you might get a permissions error too.

[2021-03-12 14:56] methenyk commented on #154
I will be running the app to make sure that nothing appears wrong and I will be running the qa scripts gone over in class Wednesday. If I run into any problems I will make sure to comment and get assistance

[2021-03-14 18:41] smattingly commented on #154
@methenyk When I created a new GitPod to research the cypress install problem that you had, I had no problem at all. So a completely fresh start makes everything good. That made me realize that we probably should have run `npm install` in your GitPod with the problem. In other words, I suspect that the dependency version numbers were updated in `package.json`, but those newer versions were not act

[2021-03-15 13:54] methenyk commented on #154
@smattingly I'm sorry, I am slightly confused. I had ran npm install in my gitpod and the newer ones I had started to try and fix the problem. are you suggesting that I should have ran it again or am I misreading your statement above? Again, I am sorry but I am slightly confused.

[2021-03-15 15:19] smattingly commented on #155
Done.

[2021-03-15 15:19] #155 closed, assigned to smattingly, makarenkojDe

[2021-03-15 15:51] smattingly opened #158 "Cypress tests for Majors reference records"
- [x] Add new major
- [ ] Discontinue major

[2021-03-15 15:51] smattingly opened #159 "Cypress tests for log in form"
- [x] happy path
- [x] log out user before showing login form
- [x] student sees right stuff
- [x] staff sees right stuff
- [x] nonauthorized sees nothing
- [x] LDAP error reported correctly

[2021-03-15 15:52] smattingly opened #160 "Cypress tests for check out form"
- [x] happy path
- [ ] need test for clearing data when tutoring changed to "No"

[2021-03-15 15:52] smattingly opened #161 "Cypress tests for student profile"
- [x] happy path
- [x] need to define required inputs (see below)
- [ ] write tests for required inputs (will fail, until...)
- [ ] modify HTML to indicate which values are required (browser will enforce)

[2021-03-17 13:54] methenyk commented on #161
I would like to work on this task @smattingly @Weintraubm @Spritte77

[2021-03-17 14:04] BroadusA commented on #150
03/17: Working through AJAX task.

[2021-03-17 14:20] methenyk commented on #154
This issue is complete and finished. I have pushed my changes through to github and I believe Professor Mattingly has fixed the cypress issue I was having.

[2021-03-17 14:24] MethenyS commented on #152
Status update: I want to apologize in advance for not being able to work on it as much as I wanted to these past couple of days. Current status is still fixing some of the code that was deleted and researching more for the other errors as well. My plan of action is to continue working and get the issue caught back up as quickly as I can.

[2021-03-17 15:45] smattingly commented on #154
@dewv/managers As I just did here, let's unassign staff members when their completed work is pushed to `dev`. Although the issue is not closed until it reaches `prod`, the staff member no longer has any work to perform on the issue.

[2021-03-17 16:30] smattingly commented on #154
@dewv/managers If we get this change to production, it will unblock https://github.com/dewv/ops/issues/157. Please move changes on `dev` (including this one) to a new release for production. Let me know if you need an assist.

[2021-03-17 20:40] smattingly commented on #152
@MethenyS Thanks for the update. As you are learning more, do you think that it would make sense to split the task with some other staff?

[2021-03-17 21:35] smattingly commented on #161
We need to make a decision about which pieces of data are required. My initial thought is:
required: academic rank, residential status, major 1 (assuming Undecided is an option-- I think it is)
optional: major 2, both sports, SLP instructor

Here is a sketch of the test (not complete, may have problems) for the academic standing field. This should go in a new file `cypress/integration/studentProfi

[2021-03-17 21:38] smattingly commented on #150
@BroadusA Can you make progress doing the AJAX yourself? (If so, that's fantastic, but I wouldn't be surprised if you want some help.) I believe @Weintraubm has been looking at AJAX in some other contexts. Or I can help if that's better. I can't get to the API part yet, but will as soon as I can.

[2021-03-19 13:53] MethenyS commented on #152
@smattingly I believe that the option to split this task would produce a better outcome in learning experience for all of us who would be assigned to this. There is a number of errors that are needing to be dealt with even though it is possible for us to fix them in one place. However, I do believe that it is possible for one person to complete this task. If you feel like it would be better to spl

[2021-03-19 16:08] smattingly opened #164 "Cypress tests for staff profile form"
See `cypress/integration/staffProfileForm.spec.js`.

[2021-03-19 16:10] smattingly opened #165 "Cypress tests for browser registration form"
At first, just test that a staff user can load and submit the form. Can later expand tests to check for location cookie, test app behavior. See `cypress/integration/browserRegistrationForm.spec.js`.

[2021-03-19 16:11] smattingly opened #166 "Cypress tests for visit index"
See `cypress/integration/visitIndex.spec.js`.

[2021-03-22 13:41] BroadusA commented on #150
03/22: Can I have some guidance for the next step in my task? OR even just to walk through AJAX.

[2021-03-22 14:00] smattingly commented on #150
@BroadusA Yes, let's find a time to collaborate online with GitPod. Meanwhile, look at https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch, which we will use instead of AJAX.

[2021-03-22 14:33] methenyk commented on #161
Sorry for the late update. I have started a new gitpod and have opened a new file for this task under cypress/integration. I have titled it studentProfiles.spec.js as said above.

[2021-03-23 16:15] smattingly commented on #150
Today we learned some things.
1. Bad news: Angel lost her changes to this point, due to GitPod permissions not being set.
2. I found a very helpful example of what we're trying to do, which changes some of the details.

As a result, I am going to close this Issue and open a new one to give this tasks a fresh start.

[2021-03-23 17:17] #150 closed, assigned to Spritte77, BroadusA

[2021-03-23 17:34] smattingly opened #167 "Implement infinite scrolling for visit list (v2)"
I found a good example of what we are trying to do. Here is [the demo](https://www.javascripttutorial.net/sample/dom/infinite-scroll/), and here is [the tutorial](https://www.javascripttutorial.net/javascript-dom/javascript-infinite-scroll/).

- [x] Modify the current setup by removing the line shown below. This will no longer send any data to the browser, just an HTML page containing an empty tab

[2021-03-24 11:40] MethenyS commented on #152
I have gotten back to the point where I was before my code was wiped. However, I have ran into a bit of an issue. I have tried several ways to try to fix these errors and one of the ways I found to try throughs an internal error when I check the checkboxes. Another way I found doesn't function the way I was intending it to. I have messaged Professor Mattingly on teams about meeting Friday evening

[2021-03-24 14:03] methenyk commented on #161
Since the last update, I have started writing the code for this test in my Gitpod workspace. I still have a few changes to make and code to finish writing. I'm sure I will have questions but as of right now I am not aware of any.

[2021-03-24 18:05] brownk3 commented on #151
@Weintraubm I'm sorry that I took so long to follow up on this. I have been aware of it and I had read the two articles you had provided, but I didn't realize until recently that you wanted me to let you know when I'm ready to move on. Since Professor Mattingly mentioned us moving to "Fetch," is there anything we need to change, and what do we need to do to proceed?

[2021-03-24 19:50] smattingly commented on #151
@brownk3 I'd suggest looking at the POST with fetch example about halfway thru this article: https://www.geeksforgeeks.org/get-and-post-method-using-fetch-api/
To use similar code, we must either
1. figure out how to send form-encoded data instead of JSON, *or*
2. add server-side code to accept the JSON data and format it.

I can help with whichever of those once you have something that is sending

[2021-03-25 19:45] BroadusA commented on #167
03/25: I have completed the first three checkboxes and am currently reviewing the demos from above.

[2021-03-26 14:04] methenyk commented on #161
Since my last update, I haven't had much time to make further progress because of work and a covid vaccine.

[2021-03-26 14:18] jacobj1234 commented on #158
I would like to give this a try
@smattingly @Weintraubm @Spritte77

[2021-03-29 13:47] MethenyS commented on #152
I have ran into a bit of an issue with my code. When I change what I think needs changed, then test the boxes it gives me an internal server error. After looking at it further and doing some more research, I believe I have found another way to go about this so I will be trying that.

[2021-03-29 13:47] methenyk commented on #161
I have finished typing the coding and can verify that the tests are failing. However, I am unsure what to do from here. I got the chance to work on this yesterday and have reached a stand still upon completion of typing the code this morning. Any pointers on where to go from here would be greatly appreciated. Thanks!

[2021-03-29 13:58] BroadusA commented on #167
3/29: Can we work on the API section tomorrow around 10:45 if possible ?

[2021-03-29 14:34] methenyk commented on #161
I miss worded my comment above my apologies. I was trying to say that I had finished writing the first set of tests and that I can verify that it fails. I wanted to know how to go about the second set of tests for the residential status. Again, I am very sorry for the confusion. I even confused myself.

[2021-03-29 14:46] smattingly commented on #161
Ok, there's several layers to this, and it is easy to get confused. Let me try to spell it out-- sorry if it's too much detail.

First, let me point out that there will be several tests (several `it` blocks under the `describe` block above). Each of these tests will be very similar: they will put data in all the required places *except one* (the one being tested), and submit the form to make sure

[2021-03-30 19:29] smattingly commented on #167
@BroadusA I am nearly finished with my server side part. In the code I provided above, I have made an edit that changes two lines. Both lines are marked with a comment: `// modified`. Please change your code to match the edits to those two lines (but don't include the marker comments).

[2021-03-30 20:23] smattingly commented on #167
@BroadusA Once again, I have modified the code given above, changing the URL and the fetch call in lines 6 and 7. Please match those changes in your code.

Then, you will need to pull my changes from GitHub. You can try doing that by clicking the "sync" arrows circle in the GitPod tool bar. Depending on what files you have changed, there may or may not be some cleanup we have to do to combine our

[2021-03-31 01:12] smattingly commented on #154
Released as v2.5.5

[2021-03-31 01:12] #154 closed, assigned to Spritte77, Weintraubm

[2021-03-31 01:13] smattingly commented on #153
We have now upgraded sails in production. I think the messages are still appearing when the app starts.

[2021-03-31 13:16] methenyk commented on #161
Okay, thank you! That will help me continue!
As an update I am working to write the rest of the 'it' statements. I haven't had any issues yet but as they occur I will post updates and ask for help.

[2021-03-31 13:17] MethenyS commented on #152
I am getting links together for Professor Mattingly to review, then moving onto a new page to start researching and fixing issues.

[2021-04-09 13:33] methenyk commented on #161
I am still continuing work on writing the cypress tests for student profiles. I haven't run into any problems yet and apologize for being slightly behind because of a few set backs.

[2021-04-09 13:34] MethenyS commented on #152
Sorry for a late update, I have began looking at and attempting to fix issues on the other pages. I plan to work as quickly and efficiently as I can to fix what I can. I will update again when I have made more progress or if I have issues.

[2021-04-09 13:49] BroadusA commented on #167
4/9: Professor Mattingly and I have been working on some troubleshooting while trying to sync our codes together.

[2021-04-12 13:37] methenyk commented on #161
Have made some progress on the tests, had a slight issue but it was because I made a mistake when typing.

[2021-04-12 13:42] MethenyS commented on #152
I believe I have found a fix for an issue that I have seen on multiple pages in the NLC app. It is a fairly easy fix, but I would like some input to see if it was something that we would want to do.

[2021-04-12 15:45] smattingly commented on #167
Good work, @BroadusA. @dewv/managers will take it from here.

[2021-04-12 16:11] smattingly commented on #151
@brownk3 I was looking at the changes I needed to make for you, when I remembered option 1 above. That requires no server changes, so let's go that way. Your `fetch` will use `method: "POST",` and
[code]
when the user clicks on an empty checkbox (changing it to be marked). The `'Yes'`would be `'No'` instead when clicking a checked box (changing it to be empty).

The URL is `/major/X` where `X` is

[2021-04-12 19:17] smattingly commented on #151
@brownk3 I just realized something. The button's `type="submit"` should be entirely removed. That's what got confused earlier.

[2021-04-14 13:13] methenyk commented on #161
I have made more progress with the cypress testing little by little as I come to more of an understanding of what I am to do. I have no questions at the moment.

[2021-04-14 14:42] BroadusA commented on #166
4/14: I would like to work on this task next.

[2021-04-14 15:47] smattingly commented on #166
@BroadusA Let us know if you need help getting started.

[2021-04-16 14:00] BroadusA commented on #166
I would like some help getting started please.

[2021-04-26 13:48] methenyk commented on #161
Over the weekend I was working on these tests and I was having reoccurring technical issues with my laptop. I am not sure that the file saved what I was working on so I will need to retype some code before pushing. I wanted to apologize for this and a lack of updates.

[2021-08-15 17:28] #167 closed, assigned to Spritte77